nav{
    display: flex;
    flex-direction: column;
    
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.numbers{
    width: 25px;
    padding: 2px;
    border: 1px solid #dbdbdd;
    color: #036ef4;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.numbers:hover{
    color: white;
    background-color: black;
}